<h1>Index</h1>

<form id="form-filter" asp-controller="Favourite" asp-action="Index" method="get">
    <div>
        <select id="genre-filter" class="form-control">
            <option value=""></option>
            <option *ngFor="let genre of GenresList" value="{{genre}}">{{genre}}</option>
        </select>

        <div class="input-group">
            <input type="text" id="title-filter" asp-for="SearchString" class="form-control" placeholder="Movie..." />
            <input type="submit" id="search-button" value="Filter" (click)="refreshFavouriteMovies()" class="btn btn-primary" />
        </div>
    </div>
</form>

<!-- Movie Table -->
<table class="table table-striped hover-table">
    <thead>
        <tr class="titles">
            <th>Title</th>
            <th>Genre</th>
            <th>Rating</th>
            <th style="text-align: center;">Realease Date</th>
            <th style="text-align: center;">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr class="lineTable" *ngFor="let favouriteMovie of FavouriteMoviesList">
            <td>{{favouriteMovie.title}}</td>
            <td>{{favouriteMovie.genreName}}</td>
            <td>{{favouriteMovie.rating}}</td>
            <td style="text-align: center;">{{favouriteMovie.releaseDate | date: 'dd-MM-yyyy'}}</td>
            <td style="text-align: center;">
                <a routerLink="/favourite/details/{{favouriteMovie.id}}" title="Details" style="margin:5px">
                    <fa-icon [icon]="faEye"></fa-icon>
                </a>
                <a title="Delete" (click)="selectedFavouriteMovieId(favouriteMovie.id)" routerLink="#" data-toggle="modal" data-target="#deleteModal" style="margin:5px">
                    <fa-icon [icon]="faTrash"></fa-icon>
                </a>
            </td>
        </tr>
    </tbody>
</table>

<div class="d-flex justify-content-between p-2">
    <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="pageSize" (change)="page = 1">
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
    </select>
  
    <div>
      <button class="btn btn-secondary me-2" [disabled]="page === 1" (click)="page = page - 1">Previous</button>
      <button class="btn btn-secondary" [disabled]="getPaginatedMovies().length < pageSize" (click)="page = page + 1">Next</button>
    </div>
</div>

<!-- Delete Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete this?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Delete" below if you are ready to delete this favourite.</div>
            <form id="delete-form" class="modal-footer" asp-action="Delete">
                <input type="hidden" id="delete-favourite-id" name="id" />
                <input (click)="deleteFavouriteMovie()" type="submit" value="Delete" class="btn btn-danger" data-dismiss="modal"/>
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            </form>
        </div>
    </div>
</div>