@model MvcMovie.Models.MovieGenreViewModel

@{
    Layout = "/Views/Shared/App/_Layout.cshtml";
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form id="form-filter" asp-controller="Movies" asp-action="Index" method="get">
    <p>
        <select id="genre-filter" asp-for="MovieGenre" asp-items="Model.Genres" class="form-control">
            <option value="">All</option>
        </select>

        <div class="input-group">
            <input type="text" id="title-filter" asp-for="SearchString" class="form-control" placeholder="Movie..." />
            <input type="submit" id="search-button" value="Filter" class="btn btn-primary" />
        </div>
    </p>
</form>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table id="table"
       data-toggle="table"
       data-show-fullscreen="true"
       data-query-params="queryParams"
       data-detail-view="true"
       data-pagination="true"
       data-id-field="id"
       data-page-list="[10, 25, 50, 100, all]"
       data-show-footer="true"
       data-side-pagination="server"
       data-url="/Movies/paginate"
       data-method="POST"
       data-search="false"
       data-show-columns="true">
    <thead>
        <tr>
            <th data-field="title">Title</th>
            <th data-field="releaseDate" data-formatter="dateFormat">Release Date</th>
            <th data-field="genreName">Genre</th>
            <th data-field="price">Price</th>
            <th data-field="rating">Rating</th>
            <th data-field="" data-formatter="operateFormatter">Actions</th>
        </tr>
    </thead>
</table>

<style>
    .select,
    #locale {
        width: 100%;
    }

    .like {
        margin-right: 10px;
    }
</style>

@section scripts {
    <script>
        var $table = $('#table')
        var $remove = $('#remove')
        var selections = []

        function getIdSelections() {
            return $.map($table.bootstrapTable('getSelections'), function (row) {
                return row.id
            })
        }

        function responseHandler(res) {
            $.each(res.rows, function (i, row) {
                row.state = $.inArray(row.id, selections) !== -1
            })
            return res
        }

        function detailFormatter(index, row) {
            var html = []
            $.each(row, function (key, value) {
                html.push('<p><b>' + key + ':</b> ' + value + '</p>')
            })
            return html.join('')
        }

        function operateFormatter(value, row, index) {
            return [
                `<a class="details" href="/Movies/Details/${row.id}" title="Details">`,
                '<i class="fa fa-eye"></i>',
                '</a>',
                `<a class="edit" href="/Movies/Edit/${row.id}" title="Edit">`,
                '<i class="fa fa-pen"></i>',
                '</a>',
                `<a class="delete" href="/Movies/Delete/${row.id}" title="Delete">`,
                '<i class="fa fa-trash"></i>',
                '</a>  '
            ].join('')
        }

        window.operateEvents = {
            'click .like': function (e, value, row, index) {
                alert('You click like action, row: ' + JSON.stringify(row))
            },
            'click .remove': function (e, value, row, index) {
                $table.bootstrapTable('remove', {
                    field: 'id',
                    values: [row.id]
                })
            }
        }

        function queryParams(params) {
            const genreFilter = $('#genre-filter').val();
            const titleFilter = $('#title-filter').val();
            var search = [];
            search.push({
                name: "Genre",
                value: genreFilter
            });
            search.push({
                name: "Title",
                value: titleFilter
            });
            params.search = search;
            return JSON.stringify(params);
        }

        function dateFormat(value, row, index) {
            if (value) {
                var date = new Date(value);
                var day = date.getDate();
                var month = date.getMonth() + 1;
                var year = date.getFullYear();

                // Adiciona um zero à esquerda para dias e meses menores que 10
                day = day < 10 ? '0' + day : day;
                month = month < 10 ? '0' + month : month;

                // Formata a data no formato desejado
                return day + '-' + month + '-' + year;
            } else {
                return '-';
            }
        }

    </script>
}

