<h1>Edit</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="edit-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" value="@Model.Id" id="id-movie" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input id="title" asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input id="releaseDate" asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div style="display: flex;">
                    <label asp-for="Genre" class="control-label" style="width: 100%;"></label>
                </div>
                <select id="genre" class="form-control" asp-for="Genre">
                    <option value=""></option>
                </select>
                <span asp-validation-for="Genre" class="text-danger"></span>

                <a style="display: flex;" routerLink="/genre/create" class="">Doesn't have the gender that you want?</a>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input id="price" asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input id="rating" asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" /> |
                <a asp-action="Index" routerLink="/movie" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>