@model MvcMovie.Models.MovieGenreViewModel

@{
    Layout = "/Views/Shared/App/_Layout.cshtml";
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form id="form-filter" asp-controller="Genre" asp-action="Index" method="get">
    <p>
        <div class="input-group">
            <input type="text" id="genre-filter" asp-for="SearchString" class="form-control" placeholder="Genre..." />
            <input type="submit" id="search-button" value="Filter" class="btn btn-primary" />
        </div>
    </p>
</form>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table id="table"
       data-toggle="table"
       data-show-fullscreen="true"
       data-query-params="queryParams"
       data-detail-view="true"
       data-pagination="true"
       data-id-field="id"
       data-page-list="[10, 25, 50, 100, all]"
       data-show-footer="true"
       data-side-pagination="server"
       data-url="/Genre/paginate"
       data-method="POST"
       data-search="false"
       data-show-columns="true">
    <thead>
        <tr>
            <th data-field="id">Id</th>
            <th data-field="name">Name</th>
            <th data-field="" data-formatter="operateFormatter">Actions</th>
        </tr>
    </thead>
</table>

<style>
    .select,
    #locale {
        width: 100%;
    }

    .like {
        margin-right: 10px;
    }
</style>

@section scripts {
    <script>
        var $table = $('#table')
        var $remove = $('#remove')
        var selections = []

        function getIdSelections() {
            return $.map($table.bootstrapTable('getSelections'), function (row) {
                return row.id
            })
        }

        function responseHandler(res) {
            $.each(res.rows, function (i, row) {
                row.state = $.inArray(row.id, selections) !== -1
            })
            return res
        }

        function detailFormatter(index, row) {
            var html = []
            $.each(row, function (key, value) {
                html.push('<p><b>' + key + ':</b> ' + value + '</p>')
            })
            return html.join('')
        }

        function operateFormatter(value, row, index) {
            return [
                `<a class="delete" href="/Genre/Delete/${row.id}" title="Delete">`,
                '<i class="fa fa-trash"></i>',
                '</a>  '
            ].join('')
        }

        window.operateEvents = {
            'click .like': function (e, value, row, index) {
                alert('You click like action, row: ' + JSON.stringify(row))
            },
            'click .remove': function (e, value, row, index) {
                $table.bootstrapTable('remove', {
                    field: 'id',
                    values: [row.id]
                })
            }
        }

        function queryParams(params) {
            const genreFilter = $('#genre-filter').val();
            //const titleFilter = $('#title-filter').val();
            var search = [];
            search.push({
                name: "Genre",
                value: genreFilter
            });
            //search.push({
            //    name: "Title",
            //    value: titleFilter
            //});
            params.search = search;
            return JSON.stringify(params);
        }

    </script>
}
